body {
background: #ff8099;
background-image: url('myspacebg2.gif');
background-size: cover;
background-position: center;
background-repeat: no-repeat; }

a {
font-family: arial;
font-size: 12pt;
line-height: 10px;
color:#ffffff;
font-weight: none;
text-decoration: none;
letter-spacing:0px;
text-transform:none; }

a:link {
font-family: arial;
font-size: 12pt;
line-height: 10px;
color:#ffffff;
font-weight: none;
text-decoration: none;
letter-spacing:0px;
text-transform:none; }

a:active {
font-family: arial;
font-size: 12pt;
line-height: 10px;
color:#ffffff;
font-weight: none;
text-decoration: none;
letter-spacing:0px;
text-transform:none; }

a:visited {
font-family: arial;
font-size: 12pt;
line-height: 10px;
color:#000000;
font-weight: none;
text-decoration: strikethrough;
letter-spacing:0px;
text-transform:none; }

a:hover {
font-family: arial;
font-size: 18pt;
color:#ffee80;
font-weight: none; }


.links {
    display: inline-block;
}

.heart-link {
    font-size: 35px;
    font-family: Arial, sans-serif;
    cursor: pointer;
    display: inline-block;
    margin-right: 10px;
    color: #ffffff;
    text-decoration: line-through;
}

.heart-link::after {
    content: "\2665 \2665"; /* Unicode for heart symbol */
    display: inline-block;
    margin-right: 5px; /* Adjust spacing between heart and text */
    color: #ffffff;
    text-decoration: underline;
    text-decoration-style: wavy;
}

.heart-link:hover::after {
    content: attr(title); /* Replace heart with link title on hover */
    color: #ffee80; /* Change color of link title on hover */
}

.heart-link:hover::before {
    content: ""; /* Hide the heart on hover */
}
